body 
{
    display: flex;
    justify-content: center;
    background-color: #fbfb4d;
    background-image: url("./bright-squares.png");
}

h1
{
    align-self: center;
}

#calc-container
{
    display: flex;
    flex-flow: column;
    width: 280px;
    background-color: #ffdebd;
    border: 1px solid black;
    border-radius: 4px;
    padding: 8px;
}

#fields
{
    display: flex;
    flex-flow: column;
}

#fields > *
{
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: space-between;
}
